<p id="notice"><%= notice %></p>

<p>
  <strong>Setor:</strong>
  <%= @endereco.setor %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @endereco.complemento %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @endereco.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @endereco.cidade %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @endereco.pais %>
</p>

<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
